/* .portlet-msg-error { */
/* 	display: none; */
/* } */
header {
  padding: 0px; }

titulo h2 {
  margin-bottom: auto;
  margin-top: auto; }

titulo a {
  margin-bottom: auto;
  margin-top: auto; }

barratitulo {
  height: 80px; }

.animateprocess {
  width: 100%; }

