#*
This file allows you to override and define new Velocity variables.
*#


#set ($myaccurl = $theme_display.getURLMyAccount().toString() + "&controlPanelCategory=my")
#set ($state = $paramUtil.get($request, "p_p_state",""))
#set ($struts_action = $paramUtil.get($request, "_58_struts_action",""))
#set ($friendlyURL = $layout.getFriendlyURL())
#set ($userId = $getterUtil.getLong($request.get("theme-display").get("user-id")))
#set ($user = $userLocalServiceUtil.getUserById($userId))

#set($val_limite_cadena = $propsUtil.get("validateutil.val_limite_cadena") )
#set($val_id_compuesto = $propsUtil.get("validateutil.val_id_compuesto") )
#set($val_nombre = $propsUtil.get("validateutil.val_nombre") )
#set($val_nombre_completo = $propsUtil.get("validateutil.val_nombre_completo") )
#set($val_direccion = $propsUtil.get("validateutil.val_direccion") )
#set($val_email = $propsUtil.get("validateutil.val_email") )
#set($val_telefono = $propsUtil.get("validateutil.val_telefono") )
#set($val_celular = $propsUtil.get("validateutil.val_celular") )
#set($val_dni = $propsUtil.get("validateutil.val_dni") )
#set($val_ruc = $propsUtil.get("validateutil.val_ruc") )
#set($val_carnet_extranjeria = $propsUtil.get("validateutil.val_carnet_extranjeria") )
#set($val_pasaporte = $propsUtil.get("validateutil.val_pasaporte") )
#set($val_limite_comentario = $propsUtil.get("validateutil.val_limite_comentario") )
#set($val_limite_texto = $propsUtil.get("validateutil.val_limite_texto") )
#set($val_extenxion_archivo_imagen = $propsUtil.get("validateutil.val_extenxion_archivo_imagen") )
#set($numero0 = $propsUtil.get("validateutil.numero0") )


   #set($es_administrador=false)
   #set($es_postulante=false)
   #set($es_empleado=false)
   
   #set($es_visitante_chat=false)
   
   #foreach($roles in $user.getRoles())
	  #if($roles.getName()=="Administrator")
		 #set($es_administrador=true)
	  #end
	  #if($roles.getName()=="POSTULANTE")
		 #set($es_postulante=true)
	  #end
	  #if($roles.getName()=="EMPLEADO")
		 #set($es_empleado=true)
	  #end
	  #if($roles.getName()=="VisitanteChat")
		 #set($es_visitante_chat=true)
	  #end
   #end
   
   
