<header class=" hidden-xs">
    <div class="container">	
        <div class="row">			
            <div class="col-xs-4 col-md-3">	
    			<h1 class="">
        			<a class="" href="$site_default_url" title="#language("go-to") $site_name">
        				<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
        			</a>    
        		</h1>
			 </div>			
                <div class="col-xs-6 col-md-6 titulo text-left media-middle">	
					<h2 class="">
        				<span>$site_name</span>
        			</h2>
				 </div>		
			#if (!$is_signed_in)					
                <div class="col-xs-offset-1 col-md-offset-1 text-right titulo">	
            		
						<a  id="loginUser" href="javascript:;" class="btn btn-success">Iniciar Sesi&oacute;n</a>
                </div>
    		#end		
        </div>		
    </div>
</header>

<input type="hidden" value=" 1= $state.trim() | 2= $struts_action.trim() "/>

#set ($val1 = ( $state.trim() != "maximized") )
<input type="hidden" value=" $val1 "/>

#set ($val1 = ( $state.trim() == "" ) )
<input type="hidden" value=" $val1 "/>


#set ($val1 = ( ($state.trim() != "maximized" || $state.trim() == "" )) )
<input type="hidden" value=" $val1 "/>

#set ($val1 = ( $struts_action.trim() != "/login/forgot_password" ) )
<input type="hidden" value=" $val1 "/>

#set ($val1 = ( $struts_action.trim() == "" ) )
<input type="hidden" value=" $val1 "/>

#set ($val1 = ($struts_action.trim() != "/login/forgot_password"  || $struts_action.trim() == "") )
<input type="hidden" value=" $val1 "/>

#set ($val1 = ($state.trim() != "maximized" || $state.trim() == "" ) && ($struts_action.trim() != "/login/forgot_password"  || $struts_action.trim() == "") )
<input type="hidden" value=" $val1 "/>


#if(($state.trim() != "maximized" || $state.trim() == "" ) && ($struts_action.trim() != "/login/forgot_password"  || $struts_action.trim() == ""))    		
    <div id="loginModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog">
    		<div class="modal-content">
    		  <div class="modal-header">
    			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    			  <h1 class="text-center">Login</h1>
    		  </div>
    		  <div class="modal-body">            	        			
        			#set ($VOID = $velocityPortletPreferences.setValue("portlet-setup-show-borders", "false"))
					#set ($customParams = "viewType=type_f1")
					#set ($VOID = $theme.runtime("58", $customParams, $velocityPortletPreferences.toString()))   
					$velocityPortletPreferences.reset()        			
    		  </div> 
			  <div class="modal-footer">
                  <div class="col-md-12">
                  
        		  </div>	
              </div>
    		</div>
    	</div>
    </div>		
#end
