<header class=" hidden-xs">
    <div class="container">	
        <div class="row">			
            <div class="col-xs-4 col-md-3">	
    			<h1 class="">
        			<a class="" href="$site_default_url" title="#language("go-to") $site_name">
        				<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
        			</a>    
        		</h1>
			 </div>			
             <div class="col-xs-6 col-md-6 titulo text-left media-middle">	
				<h2 class="">
    				<span>$site_name</span>
    			</h2>
			 </div>		
        </div>		
    </div>
</header>


