#set ($myGroup = $theme_display.getScopeGroup())
#set ($layoutService = $serviceLocator.findService("com.liferay.portal.service.LayoutService"))

#set ($globalLayoutsPublic = $layoutService.getLayouts($myGroup.groupId, false, 0))
#set ($globalLayoutsPrivate = $layoutService.getLayouts($myGroup.groupId, true, 0))

<div class="container" >	
     <div class="navbar-collapse collapse" id="navbar-main"
		 <div class="navbar-collapse collapse" id="navbar-main">
	          <ul class="nav navbar-nav">
				#foreach ($nav_item in $globalLayoutsPublic)
					#if (!$nav_item.isHidden())
						#if ($nav_item.isSelected())
							<li class="active">
						#else
							<li>
						#end
							<a href="$nav_item.getFriendlyURL()" $nav_item.getTarget()><span>$nav_item.getName()</span></a>					
						</li>
					#end					
				#end
			 </ul>
			 
			<ul class="nav navbar-nav navbar-right">    
				#if (!$is_signed_in)
					<li class="">
						<a  id="loginUser" href="javascript:;" class="btn btn-info">Iniciar Sesi&oacute;n</a>
					</li>	            
				#else    
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle btn-info " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">$user.getFullName()<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					     #foreach ($lay_item in $globalLayoutsPrivate)					       
					            <li class="dropdown-toggle">
					                <a href="/group/guest$lay_item.getFriendlyURL()" class=""><span>$lay_item.getName()</span></a>
					            </li>				       
					   	 #end						   	 			    
					    <li><a class="" href="$sign_out_url">Cerrar Sesi&oacute;n</a></li>
					    
					    
					  </ul>
					</li>
				#end  
		     </ul>	
		     
		     <div>
		     
		     	  </div>	
			 <form class="navbar-form navbar-right" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Buscar Ofertas">
		        </div>
		        <button type="submit" class="btn btn-default">Buscar</button>
		      </form>
	    </div>
    </div>
</div>


